<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>

    <ul>
        <% Contents.forEach(function(c) { %>
        <li>
            <a href="/file/<%= c.Key %>"><%= c.Key %></a>
        </li>
        <% })%>
    </ul>

</body>

</html>