<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>

  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <%- include('./partials/panel.ejs') %>
      </div>
      <div class="col-md-4">
        <div class="card card-body">
          <h3>Upload a File</h3>
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="file">Choose a file</label>
              <input type="file" id="file" name="upload" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Upload</button>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <img id="imgPreview" class="img-fluid">
      </div>
    </div>
  </div>

  <script>
    const file = document.querySelector('#file');
    const imgPreview = document.querySelector('#imgPreview');

    file.addEventListener('change', e => {
      const selectedFile = e.target.files[0];
      const reader = new FileReader();
      reader.onloadend = () => {
        imgPreview.src = reader.result;
      };
      reader.readAsDataURL(selectedFile);
    })
  </script>

</body>

</html>